/* This is just an example.  You shouldn't do this. */
#pilotpc_firefox-hello
{
}
#pilotpc_firefox-toolbar-button
{
  list-style-image: url("chrome://pilotpc_firefox/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#pilotpc_firefox-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #pilotpc_firefox-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #pilotpc_firefox-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}